header {
    border: solid black 3px;
    padding: 8px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: signika;
}

@font-face {
    font-family: Signika;
    src: url("fonts/Signika.ttf");
}